.git
node_modules
**/node_modules
dist
**/dist
build
**/build
.turbo
**/.turbo
*.tsbuildinfo
**/*.tsbuildinfo
coverage
**/coverage
.env
**/.env
.env.local
**/.env.local
.expo
**/.expo
.expo-shared
**/.expo-shared
apps/mobile/android
apps/mobile/ios
*.log
.DS_Store
